
@media (min-width:320px) {
  .parkImage{
    max-width: 85%;
    margin-top: 0px;
    max-height: 190px;
    margin-bottom: 55%;
    border-radius: 5%;

  }
  .locLabel{
    margin-left: 0px;
    color: white;
    margin-bottom: -1px;
    font-size: 18px;
  }
  .mapIcon{
    margin-left: 0px;
    margin-top: 5px;
    color: white;
   display:flex;
   flex-direction: column; 
  
  }
  .park{
    background: #40c17e;
    border-radius: 10px;
    /* box-shadow: 0px 5px 20px rgb(71,71,71); */
    border-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 26%;
    margin: 25px;
    max-width: 90%;
  }
  .symbols{
    width: 65%;
    margin-bottom: 5%;
    color: white;
  }
  .symbolItem{
    width: 20%;
    display: inline-block;
  }
}


@media (min-width:800px) {
  .parkImage{
    min-height: 180px;
    max-width: 45%;
    margin-top: 2%;
    margin-right: 50%;
    max-height: 230px;
    margin-bottom: 0;
    border-radius: 5%;
  }
  .park{
    overflow-x: hidden;
    background: #40c17e;
    border-radius: 10px;
    /* box-shadow: 0px 5px 20px rgb(71,71,71); */
    border-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 26%;
    margin: 25px;
    max-width: 50%;
  }
  .locLabel{
    
    margin-left: 20px;
    color: white;
    margin-bottom: -1px;
    font-size: 18px;
  }
  .mapIcon{
  margin-left: 410px;
  margin-top: 20px;
  color: white;
 display:flex;
 flex-direction: row;
}
.symbols{
  margin-right: 50%;
  margin-bottom: -6%;
  width: 25%;
  color: white;
}
.symbolItem{
  width: 20%;
  text-align: center;
  display: inline-block;
}
}

.head{
  color:white;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 180%;
}

.designationLabel{
  color: white;
  font-size: 110%;
  margin-top: 0%;
  margin-bottom: 5%;
}
