.park{
  background: #b1d8ff;
  border-radius: 10px;
  /* box-shadow: 0px 5px 20px rgb(71,71,71); */
  border-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 26%;
  margin: 25px;
  max-width: 90%;
}

.mapIcon{
  margin-left: 230px;
  margin-top: 10px;
  color: white;
 display:flex;
 flex-direction: row; 

}

.locLabel{
  margin-left: 20px;
  color: white;
  margin-bottom: -1px;
  font-size: 18px;
}


@media (min-width:320px) {
  .parkImage{
    max-width: 85%;
    margin-top: 30px;
    max-height: 190px;
    margin-bottom: 0%;
    border-radius: 5%;
  }
  
}


@media (min-width:800px) {
  .parkImage{
    max-width: 45%;
    margin-top: 2%;
    margin-right: 50%;
    max-height: 230px;
    margin-bottom: -3%;
    border-radius: 5%;
  }
  .park{
    background: #40c17e;
    border-radius: 10px;
    /* box-shadow: 0px 5px 20px rgb(71,71,71); */
    border-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 26%;
    margin: 25px;
    max-width: 50%;
  }
}


.head{
  color:white;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 180%;
}
